@import "tailwindcss";

:root {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 600;
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #000;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}
button:focus,
button:focus-visible {
  outline: none;
  border: none;
  box-shadow: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #1f2937;
    background-color: #000;
  }
  a:hover {
    color: #fff;
  }
  button {
    background-color: #4b5563;
  }
}
